<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.timerz">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".data.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_timerz_app_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_timerz_app_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timerz">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".data.TimerService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>